/* styles.css */
.toc-link {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: inherit;
  border-left: 2px solid transparent;
  list-style-type: none;
}

.toc-link:hover {
  border-left: 2px solid #f30908;
  font-weight: bold;
}

.toc-link.active {
  border-left: 3px solid #f30908;
  font-weight: bold;
}
