@import url("https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sahitya", serif;
}

.sahitya-regular {
  font-family: "Sahitya", serif;
  font-weight: 400;
  font-style: normal;
}

.sahitya-bold {
  font-family: "Sahitya", serif;
  font-weight: 700;
  font-style: normal;
}

width ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9a0019;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a0019;
}
