.markdown-content h1 {
  font-size: 42px;
}

.markdown-content h2 {
  color: #ffff00;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

.markdown-content blockquote {
  background-color: #ffffff;
  border-left: 5px solid #ffff00;
  padding: 10px;
}

.markdown-content blockquote p {
  color: #f30908;
  text-align: center;
}

.markdown-content blockquote h1 {
  color: #f30908;
  font-weight: bold;
}

.markdown-content p {
  font-size: 28px;
  color: #ffffff;
  text-align: justify;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-center p {
  text-align: center;
}
